<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Email</title>
</head>
<body>
  <table width="600" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <!-- Header Section -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <h1>{{name}} have invited you to Lookout Notetaker</h1>
            </td>
          </tr>
        </table>

        <!-- Content Section -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <p>This is the content of your email. You can add images, links, and more here.</p>
              <img src="your_image.jpg" alt="Description of the image">
              <a href="https://www.example.com">Visit Example.com</a>
            </td>
          </tr>
        </table>

        <!-- Footer Section -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <p>&copy; 2025 Your Company Name</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>